{% comment %}This is used on the Resource Landing Page{% endcomment %}
<section class="c-section -section-graybg">
	<div class="container">
		<div class="feature-item">
		{% for itemFeature in Items %}
		{%- assign channelName = itemFeature.ContentChannel.ChannelUrl %}
		{%- assign channelDescription = itemFeature.ContentChannel.Description %}

		{%- assign linkurl = itemFeature.ContentChannel.ItemUrl | Replace:'{Id}',itemFeature.Id | Replace:'{Slug}',itemFeature.PrimarySlug %}
		{%- assign channelurl = itemFeature.ContentChannel.ChannelUrl %}
		{%- assign itemAction = itemFeature.ContentChannel | Attribute:'ItemAction' %}
		{% assign pageType = itemFeature | Attribute:'PageType' %}

		{% assign author = itemFeature | Attribute:'Author' %}
		{% assign itemByline = itemFeature | Attribute:'Byline' %}
		{% assign itemContent = itemFeature.Content %}

		{%- assign itemVideo = itemFeature | Attribute:'VideoVimeo','RawValue' %}
		{%- assign image = itemFeature | Attribute:'Image','Object' %}
		{%- assign imageGuid = itemFeature | Attribute:'FeatureImage','RawValue' %}
		{%- assign imageTitle = itemFeature.Title %}
		{%- assign itemSummary = itemFeature | Attribute:'Summary' -%}

		<div class="item-media">
			<h6>Most Recent from {{ channelDescription }}</h6>
			<img src='/GetImage.ashx?guid={{ imageGuid }}&w=800&h=450&mode=crop' alt='{{imageTitle}}' onerror="javascript:this.src='https://fakeimg.pl/800x450/'" />
		</div>
		<div class="item-content">
			<h2 class="h1 item-title">{{itemFeature.Title}}</h2>
			{% if itemByline != '' %}
				<h5 class="h5 item-byline">{{ itemByline }}</h5>
			{% endif %}
			<div class="item-description">
				{{itemFeature.Content}}
			</div>
			<div class="buttons">
				{% if itemFeature.Title contains 'Soon' %}
					<a href="https://northviewnetwork.com/signup?RegistrationInstanceId=3358" class="c-btn button1">Sign Up</a>
				{% else %}
					<a href="{{linkurl}}" class="c-btn button1">View This Resource</a>
				{% endif %}
			</div>
		{% endfor %}
		</div>
		</div>
	</div>
</section>
