/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@brand-primary: #383d31;
@brand-secondary: #9a2d2a;
@accent1: #687160;
@accent2: #451a1b;
@accent3: #efeee4;
@color-white: #efeee4;
@font-family-serif: bely-display, sans-serif;
@headings-font-family: bely-display, sans-serif;
