/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@brand-primary: #004a38;
@brand-secondary: #004a38;
@accent1: #004a38;
@accent2: #451a1b;
@accent3: #fffbe4;
@color-white: #e9d4b3;
@font-family-sans-serif: futura-pt, sans-serif;
@font-family-serif: baskerville-display-pt, serif;
@headings-font-family: "mrs-eaves", serif;
