/* FontAwesome Start */
@fa-theme-weight: 900;
@fa-theme-weight-name: 'solid';

@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
/* FontAwesome End */
@brand-primary: #129375;
@brand-secondary: #de96b8;
@accent1: #b3cfc6;
@accent2: #d9d9da;
@accent3: rgba(26,69,35,0.74);
@color-white: rgba(255,255,255,0.9);
@font-family-sans-serif: rustica, sans-serif;
@font-family-secondary: rustica, sans-serif;
@font-family-serif: rustica, sans-serif;
@headings-font-family: rustica, sans-serif;
