@mapheight: 530px;
#campusmap {
  height: @mapheight;
  @media (min-width: @screen-sm) {
    width: 70%;
    float:left;
  }
}
#campus-locations {
  @media (min-width: @screen-sm) {
    height: @mapheight;	
    overflow: hidden;
  }
  #location-search {
    background-color: @white;
    padding: 48px 30px;
    @media (min-width: @screen-sm) {
      padding: 58px;
      box-shadow: 0px 0px 10px 0px #8c8c8c;
      height: @mapheight;	
      width: 30%;
      float: left;
      overflow: auto;
      position: relative;
      z-index: 10;
    }
    --space: 2rem;
    .form-group {
      text-align: center;
      .form-control {
        width: 60%;
        margin-left: auto;
        margin-right:auto;
      }
    }
  }
}
.location-search__title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
#campus-list {
  > :first-child{
    margin-top: 36px;
  }
  .place {
    padding: var(--s1);
  }
  .place__name {
    font-size: 25px;
    text-transform: none;
    margin:0;
    a {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      i:after {
        border-bottom-width: 2px;
      }
    }
  }
  .place__distance-text {
    margin:0;
  }
}

//Google Maps InfoWindow overrides
.gm-style .gm-style-iw-c {
  //padding:0;
  border-radius: 0;
}
.gm-style .gm-style-iw-t::after {
  //background: @text-color;
}