#campusmap {
  height: 530px;
}

#campus-locations {
  position: relative;
  overflow: hidden;
  > .content {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    width: 30%;
    background-color: @white;
    box-shadow: 0px 0px 10px 0px #8c8c8c;
    padding: 58px;
    overflow: auto;
    z-index: 10;
  }
}
.location-search {
  --space: 2rem;
  .form-group {
    text-align: center;
    .form-control {
      width: 75%;
      margin-left: auto;
      margin-right:auto;
    }
  }
}
.location-search__title {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
.campus-list {
  margin-top: 36px;
}