/*** ICON LINK ***/
.c-icon-link {
  text-align: center;
  text-transform: uppercase;
  border-bottom:none;
	.c-section--dark & {
  	color: @white;
	}
}
.c-icon-link_text {
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	display: block;
	margin-top: var(--s1);
}