/*** SECTION COMPONENT ***/
.c-section {
  --section-padding-top: calc(@grid-gutter-width * 2);
  --section-padding-bottom: calc(@grid-gutter-width * 2);
  @media (min-width: @screen-sm) {
    --section-padding-top: calc(@grid-gutter-width * 3);
    --section-padding-bottom: calc(@grid-gutter-width * 3);
  }  
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: @gray-lighter;
  background-position: center center;
  position: relative;
  &.c-section--dark {
    color: @white;
    background-color: @gray-darker;
  }
  &.c-section--light {
    background-color: @white;
  }
  &.c-section--bgimg {
    background-size: cover;
    color: @white;
    background-color: @gray-darker;
    .container {
      position: relative;
      z-index: 1;
    }
    &:after {
      content:"";
      background-color: @gray-darker;
      opacity: 0.9;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;    
    }
  }
}
.c-section--overlap-bottom {
  .c-section {
    padding-bottom: calc(@grid-gutter-width * 3);
    @media (min-width: @screen-sm) {
    	padding-bottom: calc(@grid-gutter-width * 4);
    }
  }
}
.c-section--overlap-bottom + * section > .container {
  --section-overlap-top: calc(@grid-gutter-width * -4); //translate along negative Y axis
  @media (min-width: @screen-sm) {
    --section-overlap-top: calc(@grid-gutter-width * -5); //translate along negative Y axis
  }  
  margin-top: var(--section-overlap-top)
}
.c-section__header {
  text-align: center;
	margin-bottom: (@grid-gutter-width / 2);
	@media (min-width: @screen-sm) {
    margin-bottom: (@grid-gutter-width * 1.5);
	}    
  > * {
  	color: @gray;
  	font-size: 29px;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	margin: 0;
  	@media (min-width: @screen-sm) {
    	font-size: 64px;
    	letter-spacing: 2.21px;
  	}
  }
	.c-section--light & {
  	> * {
      color: @gray-darker;
      display:inline-block;
      position: relative;
    	span {
      	position: relative;
      	z-index: 1;
      	min-width: 250px;
      	display: inline-block;
    	}
    	&:after {
      	content:"";
      	background-color: @brand-primary;
      	height:0.45em;
      	bottom:0;
      	left:-20px;
      	right:-20px;
      	position: absolute;
      	z-index: 0;
      	transition: all ease-in-out 150ms;
    	}
    }
  }
}
.c-section__description {
  color: @text-color;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	text-transform: none;
	font-family: @headings-font-family;
	font-weight: 600;
	margin-top: var(--s3);
	.c-section--light & {
  	color: @gray-darker;
  }
	.c-section--dark & {
  	color: @white;
  }
}
.c-section__footer {
  text-align: center;
	margin-top: (@grid-gutter-width / 2);
	margin-bottom:0;
	@media (min-width: @screen-sm) {
    margin-top: (@grid-gutter-width * 1.5);
	}    
}
.ornamental {
  user-select:none;
}
.has-ornaments {
  .ornament {
    display: block;
    position: absolute;
    user-select: none;
    transform-origin: top left;
    animation: 1s ease-in-out infinite moveit;
    z-index: 1;
    color: @brand-primary;
    @media (min-width: @screen-sm) {
    	z-index: 10;
    }
    .nv-icon {
      position: absolute;
      transform-origin: center;
      animation-name: fullcircle;
      animation-duration: 9s;
      animation-iteration-count: infinite;
    }
  }
}
@keyframes moveit {
  0% { transform: translateY(0px); }
  50%   { transform: translateY(6px); }
  100%   { transform: translateY(0px); }
}
@keyframes fullcircle {
  100% {
    transform: rotate(360deg);
  }
}