{%- assign firstItem = Items | First -%}
{%- assign section = firstItem.ContentChannel -%}
{%- assign sectionTitle  = section | Attribute:'SectionTitle' -%}
{%- assign sectionTitleSize  = section | Attribute:'SectionTitleSize', 'RawValue' -%}
{%- assign sectionTitleStyle  = section | Attribute:'SectionTitleStyle', 'RawValue' -%}
{%- assign sectionDescription  =  ContentChannel | Attribute:'SectionDescription' -%}
{%- assign sectionType  =  ContentChannel | Attribute:'SectionType','RawValue' -%}
{%- assign sectionColorScheme  = section | Attribute:'SectionType', 'RawValue' -%}
{%- assign sectionTitleWidth  =  ContentChannel | Attribute:'SectionTitleWidth','RawValue' -%}
{%- assign sectionImage = section | Attribute:'SectionBackgroundImage','RawValue' -%}
{%- assign sectionContentAlignment = section | Attribute:'ContentAlignment','RawValue' -%}
{%- assign sectionPadding  =  ContentChannel | Attribute:'SecPadMatrix' -%}
{%- assign sectionBgClass  =  ContentChannel | Attribute:'SectionBackgroundColorClass' -%}
{%- assign numImages  =  Items | Size -%}
  {%- if  numImages <= 1 -%}
    {%- assign sectionClass = "-bgCover" -%}
{%- else -%}
  {%- assign sectionClass = "-sbsImages" -%}
{%- endif -%}


<section id="{{sectionTitle | ToCssClass}}" class="c-section -hero c-section--{{ sectionType }} {{ sectionClass }} {{  sectionBgClass }} {{sectionPadding}} flex-column" style="{% if sectionImage != '' %}background-image: url('/GetImage.ashx?Guid={{ sectionImage }}');{% endif %}">
  <div class="c-section__container">
    <div class="c-section__content text-{{itemTextAlignment}}">

{%- for item in Items -%}
  {%- assign contentAlignment  =  item | Attribute:'ContentAlignment','RawValue' -%}
  {%- assign contentWidth  =  item | Attribute:'ContentWidth','RawValue' -%}
  {%- assign itemTitleStyle  =  item | Attribute:'ItemTitleStyle','RawValue' -%}
  {%- assign itemTitleSize  =  item | Attribute:'TitleStyle', 'RawValue' -%}
  {%- assign itemTextAlignment  =  item | Attribute:'ItemTextAlignment','RawValue' -%}
  {%- assign itemDescription  =  item | Attribute:'ItemDescription' -%}
  {%- assign imageGuid =  item | Attribute:'ItemImage','RawValue' -%}
  {%- assign buttons =  item | Attribute:'Buttons' -%}
  {%- assign itemFirst = Items | First -%}
  {%- assign displayContent = itemFirst.Content -%}

    {%- if forloop.first -%}
       <div class='c-section__text'>
         <h1>{{ itemDescription }}</h1>
         {{ item.Content }}
         {{ buttons }}
       </div>
       <div class="c-section__media">
    {% endif %}

      {%- if imageGuid != '' -%}
        <picture>
          <source media="(min-width: 768px)"
            srcset="/GetImage.ashx?Guid={{ imageGuid }}&width=315&height=508&mode=crop&scale=both">
          <img src='/GetImage.ashx?Guid={{ imageGuid }}&width=238&height=274&mode=crop&scale=both' alt='' />
        </picture>
      {%- endif -%}

    {%- if forloop.last -%}
      </div>
    {% endif %}
{%- endfor -%}
    </div>
  </div>
  <div class="aqua-triangle"></div>
  <div class="red-triangle"></div>
</section>
