/*
    Colors from InVision:
*/
html {
  scroll-behavior: smooth;
}
p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
h1:first-child,
.h1:first-child,
h2:first-child,
.h2:first-child,
h3:first-child,
.h3:first-child,
p:first-child {
  margin-top: 0;
}
.c-block-hero__wrapper {
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.c-block-hero__wrapper h1 {
  color: #ffffff;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0 0 6px #373737;
}
@media (min-width: 768px) {
  .c-block-hero__wrapper h1 {
    font-size: 68px;
  }
}
.c-block-hero__wrapper p {
  text-shadow: 0 0 6px #373737;
  margin: 1em 0;
  color: #ffffff;
  font-size: 36px;
}
.nvmicrosite {
  margin-bottom: 0;
}
@media (max-width: 768px) {
}
.nvmicrosite h2.c-section__title {
  margin-top: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #b68854;
}
@media (min-width: 768px) {
  .nvmicrosite h2.c-section__title {
    font-size: 3.5rem;
  }
}
.nvmicrosite h2.c-section__item-title {
  font-size: 3rem;
}
.nvmicrosite h2.-padBottom {
  padding-bottom: 30px;
}
.nvmicrosite h4 {
  color: #1f2637;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.nvmicrosite h4.-padBottomSmall {
  padding-bottom: 25px;
}
.nvmicrosite #loc-peru {
  display: none;
}
@media (min-width: 768px) {
  .nvmicrosite .c-campus.-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (min-width: 992px) {
  .nvmicrosite .c-campus.-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media all and (-ms-high-contrast: none) {
  .nvmicrosite .c-campus.-grid {
    display: -ms-grid;
    -ms-grid-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
  }
  .nvmicrosite .c-campus.-grid :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-campus.-grid :nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }
}
.nvmicrosite .c-campus__location {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom: 3px #b68854 solid;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .nvmicrosite .c-campus__location {
    background-color: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    border-bottom: 0px;
  }
}
.nvmicrosite .c-campus__location.open {
  border-bottom: 3px #221f1f solid;
}
.nvmicrosite .c-campus .toggler .nv-icon--ornament_minus {
  display: none;
}
@media (min-width: 768px) {
  .nvmicrosite .c-campus .toggler {
    display: none;
  }
}
.nvmicrosite .c-campus .open .toggler .nv-icon--ornament_plus {
  display: none;
}
.nvmicrosite .c-campus .open .toggler .nv-icon--ornament_minus {
  display: inline-block;
}
.nvmicrosite .c-campus__header {
  position: relative;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .nvmicrosite .c-campus__header {
    margin-bottom: -20px;
  }
}
.nvmicrosite .c-campus__header .c-campus__image {
  display: none;
}
@media (min-width: 768px) {
  .nvmicrosite .c-campus__header .c-campus__image {
    display: block;
  }
}
.nvmicrosite .c-campus__header .c-campus__name {
  font-size: 1.5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 15px;
  width: 100%;
  top: 0;
}
@media (min-width: 768px) {
  .nvmicrosite .c-campus__header .c-campus__name {
    font-size: 1.5rem;
    background-color: #b68854;
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    top: -30px;
    width: auto;
  }
}
.nvmicrosite .c-campus__header .c-campus__name .toggler {
  line-height: 0;
}
.nvmicrosite .c-campus__header .c-campus__name a {
  display: block;
  color: #1f2637;
  border-bottom: 0;
}
@media (min-width: 768px) {
  .nvmicrosite .c-campus__header .c-campus__name a {
    color: #ffffff;
    pointer-events: none;
  }
}
.nvmicrosite .c-campus__body {
  font-size: 1rem;
  padding: 15px;
}
@media (min-width: 768px) {
  .nvmicrosite .c-campus__body {
    padding: 0;
  }
}
.nvmicrosite .c-campus__body ul {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.nvmicrosite .c-campus__body ul.c-campus__links li {
  padding: 5px 0;
}
.nvmicrosite .c-campus__body ul.c-campus__links li i {
  font-size: 1.25rem;
  top: 5px;
  position: relative;
}
.nvmicrosite .cta .row {
  padding: 25px 0;
  background-size: cover;
  background-position: center;
}
.nvmicrosite .c-block-hero {
  position: relative;
}
.nvmicrosite .c-block-hero__container {
  display: flex;
}
.nvmicrosite .c-block-hero__container .c-block-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .nvmicrosite .c-block-hero__container .c-block-hero__content {
    padding: 0;
  }
}
.nvmicrosite .c-block-hero__container .c-block-hero__content img {
  width: 67%;
}
@media (min-width: 768px) {
  .nvmicrosite .c-block-hero__container .c-block-hero__content img {
    width: auto;
  }
}
.nvmicrosite .c-block-hero__container .c-block-hero__meta {
  padding: 50px 0;
  text-align: center;
  align-self: stretch;
}
@media (min-width: 768px) {
  .nvmicrosite .c-block-hero__container .c-block-hero__meta {
    padding: 50px 0;
  }
}
.nvmicrosite .c-block-hero__container .c-block-hero__meta .c-btn {
  margin: 5px;
  display: block;
}
@media (min-width: 768px) {
  .nvmicrosite .c-block-hero__container .c-block-hero__meta .c-btn {
    display: inline-block;
    width: 20%;
  }
}
.nvmicrosite .c-section__shareables .c-section__header {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .nvmicrosite .c-section__shareables .shareables-grid {
    padding: 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (min-width: 992px) {
}
@media all and (-ms-high-contrast: none) {
  .nvmicrosite .c-section__shareables .shareables-grid {
    display: -ms-grid;
    -ms-grid-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
  }
  .nvmicrosite .c-section__shareables .shareables-grid :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-section__shareables .shareables-grid :nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-section__shareables .shareables-grid :nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
  .nvmicrosite .c-section__shareables .shareables-grid :nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }
}
.nvmicrosite .c-section__shareables .shareables-grid .shareable img {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.nvmicrosite .invite {
  margin-right: 100px;
  display: none;
  align-items: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .nvmicrosite .invite {
    display: flex;
  }
}
.nvmicrosite .invite .nv-icon--account {
  font-size: 1.25rem;
}
.nvmicrosite .invite .nv-icon--ornament_plus {
  font-size: 16px;
  top: -5px;
  position: relative;
}
.nvmicrosite .invite .badge-icon {
  font-size: 1.625rem;
}
.nvmicrosite .invite a {
  font-family: ff-good-web-pro-condensed, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  padding-left: 10px;
  color: #ffffff;
}
.nvmicrosite .invite a:hover {
  color: #ffffff;
}
.nvmicrosite .footerHead {
  background-color: #eeeeee;
  position: relative;
}
.nvmicrosite .footerHead .gift {
  position: relative;
  width: 100%;
  height: 85px;
}
@media (min-width: 768px) {
  .nvmicrosite .footerHead .gift {
    height: 200px;
  }
}
.nvmicrosite .footerHead .gift img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40px);
}
.nvmicrosite .shareable a.download {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  border: 2px #221f1f solid;
  transition: all ease-in-out 300ms;
  margin: 32px 20px;
  /* Icon */
}
.nvmicrosite .shareable a.download:hover {
  background-color: #221f1f;
  color: #ffffff;
}
.nvmicrosite .shareable a.download::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.nvmicrosite .shareable input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.nvmicrosite .shareable .tabs {
  overflow: hidden;
}
.nvmicrosite .shareable .tab {
  color: #1f2637;
  overflow: hidden;
  margin: 32px 20px;
}
.nvmicrosite .shareable .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border-right: 2px #221f1f solid;
  border-top: 2px #221f1f solid;
  border-left: 2px #221f1f solid;
  border-bottom: 0 #221f1f solid;
  transition: all ease-in-out 300ms;
  /* Icon */
}
.nvmicrosite .shareable .tab-label:hover {
  background-color: #221f1f;
  color: #ffffff;
}
.nvmicrosite .shareable .tab-label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.nvmicrosite .shareable .tab label {
  margin-bottom: 0;
}
.nvmicrosite .shareable .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #777576;
  background: white;
  transition: all 0.35s;
  border-right: 2px #221f1f solid;
  border-bottom: 2px #221f1f solid;
  border-left: 2px #221f1f solid;
}
.nvmicrosite .shareable .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #221f1f;
  cursor: pointer;
}
.nvmicrosite .shareable .tab-close:hover {
  background: #221f1f;
}
.nvmicrosite .shareable input:checked + .tab-label {
  background: #ffffff;
  color: #3c2f2d;
  border-right: 2px #221f1f solid;
  border-top: 2px #221f1f solid;
  border-left: 2px #221f1f solid;
  border-bottom: 0 #221f1f solid;
}
.nvmicrosite .shareable input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.nvmicrosite .shareable input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 10px 20px;
}
.nvmicrosite .shareable .shareable-downloads {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nvmicrosite .shareable .shareable-downloads li {
  text-align: left;
  font-size: 0.875rem;
  padding: 4px 0;
}
.nvmicrosite .shareable .shareable-downloads li a {
  border-bottom: 0;
  font-weight: 400;
}
/*** keep these last ***/
/*# sourceMappingURL=theme.css.map */