{% if Page.DisplayChildPages and Page.Pages != empty %}
<nav class="c-primary-nav__content">
  <div class="wrapper">
    {% for childPage in Page.Pages %}
    {% if childPage.DisplayChildPages and childPage.Pages != empty %}
    <div class="flex">
      <div>
        <a href="{{ childPage.Url }}" class="expander" @click.prevent="expanded = !expanded">
          {{ childPage.Title }}
          {% include "~~/Assets/Image/caret.svg" %}
        </a>
        <div x-show="expanded" class="menu" style="display: none">
          <div class="relative">
            <ul class="subnav">
              {% for grandChildPage in childPage.Pages %}
              <li>
                <a href="{{ grandChildPage.Url }}">
                  {{grandChildPage.Title}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <a class="c-primary-nav__item" {% if childPage.Current %} class="active" {% endif %} href="{{ childPage.Url }}">{{ childPage.Title }}</a>
    {% endif %}
    {% endfor %}

    {% for includedPage in IncludePageList  %}
    {% assign attributeParts = includedPage | PropertyToKeyValue %}
      {% assign url = attributeParts.Value %}
      {% if url contains "http" %}
      {% assign target = "target='_blank'" %}
      {% endif %}
      <a href="{{ attributeParts.Value }}" {{target}} class="c-primary-nav__link"><span>{{ attributeParts.Key }}</span></a>
    {% endfor %}
  </div>
</nav>
{% endif %}

