<nav id="sidr-right" class="c-nav -primary sidr right">
	<div class="sidr-inner">
		{% comment %} <button id="menu-closer" aria-label="Close Menu"><i class="c-icon--close"></i></button> {% endcomment %}
		{% if Page.DisplayChildPages == 'true' and Page.Pages and Page.Pages != empty %}
		<ul id="main-menu" class="c-nav__menu">
			{% for childPage in Page.Pages %}
			{%- assign isopen = '' -%}
			{% if childPage.Current == 'true' %} {%- assign isopen = ' -active' -%} {% endif %}
			<li id="menu_{{ childPage.Title | ToCssClass }}" class="c-nav__link{{isopen}}">
				{% if childPage.DisplayChildPages == 'true' and childPage.Pages and childPage.Pages != empty %}
				<a role="button" data-toggle="collapse" data-parent="#main-menu" href="#collapse{{ forloop.index }}-{{ childPage.Title | ToCssClass }}" aria-expanded="{% if isopen == ' -active' %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.index }}">{{ childPage.Title }} <i class="c-icon--caret"></i></a>
				{% else %}
				<a href="{{ childPage.Url }}">{{ childPage.Title }}</a>
				{% endif %}
				{% if childPage.DisplayChildPages == 'true' and childPage.Pages and childPage.Pages != empty %}
				<div id="collapse{{ forloop.index }}-{{ childPage.Title | ToCssClass }}" class="panel-collapse collapse{% if isopen == ' -active' %} in{% endif %}">
					<ul class="c-nav__submenu">
						{% for grandChildPage in childPage.Pages %}
						<li class="c-nav__link{% if grandChildPage.Current == 'true' %} -active{% endif%}{% if grandChildPage.DisplayChildPages == 'true' and grandChildPage.Pages and grandChildPage.Pages != empty %} -parent{% endif%}" id="menu_{{ childPage.Title | ToCssClass }}_{{ grandChildPage.Title | ToCssClass }}">
							{% if grandChildPage.DisplayChildPages == 'true' and grandChildPage.Pages and grandChildPage.Pages != empty %}
							<a href="#">{{ grandChildPage.Title }}</a>
							<ul class="c-nav__submenu">
								{% for greatGrandChildPage in grandChildPage.Pages %}
								<li class="c-nav__link{% if greatGrandChildPage.Current == 'true' %} -active{% endif%}" id="menu_{{ grandChildPage.Title | ToCssClass }}_{{ greatGrandChildPage.Title | ToCssClass }}">
									<a href="{{ greatGrandChildPage.Url }}">{{ greatGrandChildPage.Title }}</a>
								</li>
								{% endfor %}
							</ul>
							{% else %}
							<a href="{{ grandChildPage.Url }}">{{ grandChildPage.Title }}</a>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}

</nav>
<script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
<script>
	Sys.Application.add_load(function () { //this is the ASP.NET equivalent of $(document).ready
		$('#menu-opener,#menu-closer').sidr({
			name: 'sidr-right',
			side: 'right',
			displace: false,
			onOpen: function(){
				$('#menu-opener').addClass('-active')
			},
			onClose: function(){
				$('#menu-opener').removeClass('-active')
			}
		});
		$(document.body).click(function (e) {
			// If a sidr is open.
			if ($.sidr('status').opened) {
				var isBlur = true;
				// If the event is not coming from within the sidr.
				if ($(e.target).closest('.sidr').length !== 0) {
					isBlur = false;
				}
				// If the event is not coming from within a trigger.
				if ($(e.target).closest('.js-sidr-trigger').length !== 0) {
					isBlur = false;
				}
				// Close sidr is unfocused.
				if (isBlur) {
					$.sidr('close', $.sidr('status').opened);
				}
			}
		});
	});
</script>
