/*
    Colors from InVision:
*/
/* FontAwesome Start */
/* FontAwesome End */
.block-grid,
[class*="block-grid-"] {
  display: grid;
  margin: 0 0 12px;
  padding: 0;
  grid-gap: 12px;
  width: 100%;
}
@media (min-width: 992px) {
  .block-grid,
  [class*="block-grid-"] {
    margin: 0 0 var(--s2);
    grid-gap: var(--s2);
  }
}
.block-grid .block-grid-item,
[class*="block-grid-"] .block-grid-item {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  list-style: none;
}
.block-grid.nopad,
[class*="block-grid-"].nopad {
  grid-gap: 0;
  margin: 0;
}
.block-grid-xs-12 {
  grid-template-columns: repeat(12, 1fr);
}
.block-grid-xs-11 {
  grid-template-columns: repeat(11, 1fr);
}
.block-grid-xs-10 {
  grid-template-columns: repeat(10, 1fr);
}
.block-grid-xs-9 {
  grid-template-columns: repeat(9, 1fr);
}
.block-grid-xs-8 {
  grid-template-columns: repeat(8, 1fr);
}
.block-grid-xs-7 {
  grid-template-columns: repeat(7, 1fr);
}
.block-grid-xs-6 {
  grid-template-columns: repeat(6, 1fr);
}
.block-grid-xs-5 {
  grid-template-columns: repeat(5, 1fr);
}
.block-grid-xs-4 {
  grid-template-columns: repeat(4, 1fr);
}
.block-grid-xs-3 {
  grid-template-columns: repeat(3, 1fr);
}
.block-grid-xs-2 {
  grid-template-columns: repeat(2, 1fr);
}
.block-grid-xs-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .block-grid-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .block-grid-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .block-grid-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .block-grid-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .block-grid-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .block-grid-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .block-grid-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .block-grid-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .block-grid-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .block-grid-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .block-grid-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 992px) {
  .block-grid-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .block-grid-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .block-grid-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .block-grid-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .block-grid-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .block-grid-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .block-grid-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .block-grid-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .block-grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .block-grid-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .block-grid-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1200px) {
  .block-grid-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .block-grid-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .block-grid-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .block-grid-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .block-grid-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .block-grid-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .block-grid-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .block-grid-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .block-grid-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .block-grid-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .block-grid-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.series-detail .c-block-hero__headline,
.message-detail .c-block-hero__headline {
  visibility: hidden;
  pointer-events: none;
}
.series-detail .c-block-hero__headline .ornamental,
.message-detail .c-block-hero__headline .ornamental {
  display: none;
}
.series-detail .c-card__body p,
.message-detail .c-card__body p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}
.series-detail .sermon-media,
.message-detail .sermon-media {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.series-detail .sermon-media li,
.message-detail .sermon-media li {
  display: inline;
  text-align: center;
  padding: 0 12px;
}
.series-detail .sermon-media li:first-child,
.message-detail .sermon-media li:first-child {
  padding-left: 0;
}
.series-detail .sermon-media li a,
.message-detail .sermon-media li a {
  text-decoration: none;
  font-size: 10px;
  border-bottom: none;
}
.series-detail .sermon-media li a .nv-icon,
.message-detail .sermon-media li a .nv-icon {
  font-size: 24px;
  display: block;
}
@media (min-width: 768px) {
  #recent-message-grid {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "Media Title" "Media Body" "Media Footer";
  }
  #recent-message-grid .c-card__header {
    grid-area: Media;
    margin-top: var(--s1);
  }
  #recent-message-grid .c-section__header {
    grid-area: Title;
    width: 60%;
    text-align: left;
    padding-left: var(--s3);
    margin-bottom: var(--s2);
  }
  #recent-message-grid .c-section__header h2 {
    line-height: 0.9375em;
  }
  #recent-message-grid .c-card__body {
    grid-area: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(20%);
    margin-top: var(--s7);
  }
}
/*# sourceMappingURL=theme2.css.map */