/*
    Colors from InVision:
*/
/* FontAwesome Start */
/* FontAwesome End */
.block-grid,
[class*="block-grid-"] {
  display: grid;
  margin: 0 0 12px;
  padding: 0;
  grid-gap: 12px;
  width: 100%;
}
@media (min-width: 992px) {
  .block-grid,
  [class*="block-grid-"] {
    margin: 0 0 var(--s2);
    grid-gap: var(--s2);
  }
}
.block-grid .block-grid-item,
[class*="block-grid-"] .block-grid-item {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  list-style: none;
}
.block-grid.nopad,
[class*="block-grid-"].nopad {
  grid-gap: 0;
  margin: 0;
}
.block-grid-xs-12 {
  grid-template-columns: repeat(12, 1fr);
}
.block-grid-xs-11 {
  grid-template-columns: repeat(11, 1fr);
}
.block-grid-xs-10 {
  grid-template-columns: repeat(10, 1fr);
}
.block-grid-xs-9 {
  grid-template-columns: repeat(9, 1fr);
}
.block-grid-xs-8 {
  grid-template-columns: repeat(8, 1fr);
}
.block-grid-xs-7 {
  grid-template-columns: repeat(7, 1fr);
}
.block-grid-xs-6 {
  grid-template-columns: repeat(6, 1fr);
}
.block-grid-xs-5 {
  grid-template-columns: repeat(5, 1fr);
}
.block-grid-xs-4 {
  grid-template-columns: repeat(4, 1fr);
}
.block-grid-xs-3 {
  grid-template-columns: repeat(3, 1fr);
}
.block-grid-xs-2 {
  grid-template-columns: repeat(2, 1fr);
}
.block-grid-xs-1 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .block-grid-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .block-grid-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .block-grid-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .block-grid-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .block-grid-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .block-grid-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .block-grid-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .block-grid-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .block-grid-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .block-grid-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .block-grid-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 992px) {
  .block-grid-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .block-grid-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .block-grid-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .block-grid-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .block-grid-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .block-grid-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .block-grid-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .block-grid-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .block-grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .block-grid-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .block-grid-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1200px) {
  .block-grid-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .block-grid-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .block-grid-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .block-grid-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .block-grid-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .block-grid-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .block-grid-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .block-grid-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .block-grid-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .block-grid-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .block-grid-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.staff__item {
  background: transparent;
  border-bottom: 0;
  margin: 10px;
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .staff__item {
    margin: 10px;
  }
}
@media (min-width: 768px) {
  .staff__info {
    padding-left: 30px;
  }
}
.staff__name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 22px;
}
.staff__detail-link {
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  background-color: #53DAEC;
}
.staff__detail-link img {
  opacity: 1;
  transition: opacity ease 0.5s;
}
.staff__detail-link:before {
  background-color: transparent;
  transition: all 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}
.staff__detail-link:hover {
  /*
      &:before{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(@color-brand-primary,1);
        z-index: 1;
                opacity: 1;

      }
*/
}
.staff__detail-link:hover .vc {
  opacity: 1;
}
.staff__detail-link:hover img {
  opacity: 0;
}
.staff__detail-link .vc {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
  z-index: 5;
  opacity: 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .staff__photo {
    margin: auto;
  }
}
@media (min-width: 768px) {
  .staff__photo--large {
    margin: 0 0 40px;
  }
}
.staff__photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.staff__title {
  margin-bottom: 5px;
  font-size: 16px;
  color: #777576;
}
.staff__title + .btn {
  margin-top: 20px!important;
}
.staff__bio {
  margin: 12px 0;
}
.staff__meta {
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
}
.staff__meta li {
  padding: 5px 5px;
  display: inline;
}
.staff__meta li a {
  color: #221f1f;
  text-decoration: none;
  border-bottom: none;
  transition: color 0.5s ease;
}
.staff__meta li a i {
  font-size: 22px;
}
.staff__meta li a i.nv-icon--phone {
  font-size: 16px;
}
.staff__meta li a:hover {
  color: black;
}
/*# sourceMappingURL=theme2.css.map */