.sizeBase10(@index: 0) when (@index =< 10) {
  .sizeBase10((@index + 1)); 
  --s@{index}: calc(@index * 10px);
}
.aspect-ratio(@width, @height) {
  position: relative;
  &:after {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}