@import "_mixins";
:root {
  .sizeBase12(); //12px size increments
  --font-family-primary: @font-family-sans-serif;
  --font-family-condensed: @headings-font-family;
  --pwa-menu-height: 64px;
}
// 1. HTML Overrides
// -------------------------

html {
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
}

h1.pagetitle:empty { // hides the page title h1 tag if the page has the title hidden
  display: none;
}

.page-icon {
  display: none;
}

.nv-icon {
  display: inline-block;
}

/* Rock Overrides */
.panel.panel-block {
  border: 0;
  box-shadow: none;

  & > .panel-heading,
  & > .rock-panel-drawer {
    display: none;
  }

  & > .panel-body {
    padding: 0;

    .grid.grid-panel {
      margin: 0;
    }
  }
}
.panel-heading {
  a {
    border-bottom: 1px dotted @link-color;
    &:hover {
      border-bottom-style: solid;
      text-decoration: none;
    }
  }

  .panel-success & {
    a {
      color: @panel-success-text;
      border-color: @panel-success-text;
    }
  }

  .panel-warning & {
    a {
      color: @panel-warning-text;
      border-color: @panel-warning-text;
    }
  }
}
#cms-admin-footer {
  @media (max-width: @screen-md-max) {
  	display: none;
  }
}
.zone-instance.outline {
  float: none;
}
.block-highlight,
.zone-highlight {
  header {
    position: relative;
  }
}
/*** GLOBAL STYLES ***/
body {
  background-color: #fafafa;
  margin-bottom: var(--pwa-menu-height);
  @media (min-width: @screen-sm) {
    margin-bottom:0;
    font-size: 19px;
  }
}
#form1 {
  width: 1680px;
  max-width: 100%;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  box-shadow: 0px 0px 10px 0px #8c8c8c;
  background-color:@white;
}
img {
  max-width: 100%;
  height: auto;
}
a {
	display: inline-block;
	text-decoration: none;
	border-bottom: solid 1px @brand-primary;
	color: @text-color;
	font-weight: 600;
	&:hover, &:focus {
  	color: @brand-primary;
  	text-decoration: none;
	}
	.config-bar & {
  	border: none;
	}
}
ul, ol {
  padding-left: 1.5em;
}
.container {
  max-width: 100%;  
}

.stack {
  --space: 1rem;
  &.text-center {
    align-items: center;
  }  
  > * {
    margin-top: 0;
    margin-bottom: 0;
  } 
  > * + * {
    margin-top: var(--space);
  }
}

.addthis_toolbox {
  background-color: @text-color;
  color: @white;
  ul {
    display: flex;
    justify-content: space-around;
    margin:0;
    padding:0;
    list-style: none;
    li {
      margin:0;
      padding: var(--s1);
      a {
        border: none;
        color: @white;
        margin: 0;
      }
    }
  }
}
.center-block {
  float:none;
}

/*** GRID LAYOUT ***/
.l-grid {
  @media (min-width: @screen-sm) {
    display: grid;
    grid-gap: var(--s2);
    grid-template-columns: 1fr 1fr;
  }
  &.l-grid--2col {
    display: grid;
    grid-gap: var(--s2);
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: @screen-sm-min) {
    &.l-grid--sm-2col {
      display: grid;
      grid-gap: var(--s2);
      grid-template-columns: 1fr 1fr;      
    }
    &.l-grid--sm-3col {
	    grid-template-columns: 1fr 1fr 1fr;
    }    
    &.l-grid--sm-4col {
	    grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
  }
  @media (min-width: @screen-md-min) {
    &.l-grid--md-2col {
      display: grid;
      grid-gap: var(--s2);
      grid-template-columns: 1fr 1fr;      
    }
    &.l-grid--md-3col {
	    grid-template-columns: 1fr 1fr 1fr;
    }    
    &.l-grid--md-4col {
	    grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
  }
  @media (min-width: @screen-lg-min) {
    &.l-grid--lg-2col {
      display: grid;
      grid-gap: var(--s2);
      grid-template-columns: 1fr 1fr;      
    }
    &.l-grid--lg-3col {
	    grid-template-columns: 1fr 1fr 1fr;
    }    
    &.l-grid--lg-4col {
	    grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
  }
  &.l-grid--align-middle {
    align-items: center;
  }
  &.l-grid--align-bottom {
    align-items: flex-end;
  }
}

/*** FLEX LAYOUT ***/
.l-row--flex {
  @media (min-width: @screen-sm) {
    display: flex;
    flex-direction: row;
    &.row-reverse {
      flex-direction: row-reverse;
    }
    .l-col--flex {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}