.feature-item{
	display: flex;
	flex-direction: column;
	@media (min-width: @screen-sm) {
		display: grid;
		grid-template-columns: 58% 42%;
		gap: 30px;
	}

	.item-media{

	}
	.item-content{
		padding: 30px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;
	}
	.item-title{
		margin: 0;
		line-height: .8;
		font-weight: 500;
	}
	.item-byline{
		margin: 0;
		line-height: 1;
		font-weight: 450;
	}
	.item-description{

	}
}//end .feature-item